PORT=5000
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/healthod?schema=public"
JWT_SECRET="super-secret-key-change-me"
VAPID_PUBLIC_KEY="BIlYWaNSn1Xyx3s6EruZMv9qwdCyqfAHZWbfyKX621MnI_ckQ2veAKwxhRriEJaiFhq2XXdI3cva0Rq7bo0vytE"
VAPID_PRIVATE_KEY="hywrmxma2nlJNzlN3YfZesorwajt_Zei1PI5912I3vQ"
VAPID_EMAIL="mailto:admin@healthod.ru"

